<div>
    <img src="https://www.futbolred.com/files/article_main/files/crop/uploads/2021/07/10/60ea53c3b49ba.r_1625986416133.0-299-595-596.png" alt="">

    <a href="/auth/logout"><button>Logout</button></a>
    <a href="/auth/private">Go to private page</a>
</div>